# ==============================================================================
# 🎨 TEAMHUB FRONTEND ENVIRONMENT TEMPLATE (.env.example)
# ==============================================================================

# 💻 LOCAL DEVELOPMENT
VITE_API_BASE_URL=http://localhost:4000/api

# 💌 GOOGLE FORM / SHEET FEEDBACK LINK
VITE_FEEDBACK_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSd6do_gXneIDtTbfN5VTPsPfbvCc1RkD53FqWj92XG-SvK9-g/viewform?usp=header
