# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*

# build
dist/
build/

# docker volumes
data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# typescript
*.tsbuildinfo